* {
    box-sizing: border-box;
}
body {
    line-height: 2.5;
    background-color: #F9F5F4
}


.navbar {
    display: flex;
    border: solid 2px black;
    width: 100%;
    justify-content: center;
    height: 50px;
    background-color: #698996;
    color: #fffbdb;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    
}

.navbar a {
    display: none;
}

i{ 
    font-family: 'FontAwesome';
    margin-top: 3px;
    margin-left: 40%;
}

.title-icon {
   display: flex;
   width: 90%;
   justify-content: flex-end;
   align-items: center;
}

h2 {
    margin-bottom: 18px;
}





/* Chords */

.chord-btn {
    border: solid 2px black;
}

#chords {
    display: block;
}

/* Root Notes */

#root-notes {
    display: block;
    width: 100%;
    max-height: fit-content;
}

.root-btn {
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    color: #888888;;
    font-size:20px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    border-color: #cccccc;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.root-btn.active {
    background-color: #ff661b;
    border-color: #ff661b;
    color: white;
}

h4 {
    font-size: larger;
    color: gray;
    margin-top: 70px;
}

/* Chord Selection */

#guitar-chords {
    display: block;
    width: 100%;
    max-height: fit-content;
}

.chord-btn {
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    color: #888888;;
    font-size:20px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    border-color: #cccccc;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.chord-btn.active {
    background-color: #ff661b;
    border-color: #ff661b;
    color: white;
}


/* Variations */
#variations {
    display: block;
    width: 100%;
    max-height: fit-content;
}

.variation-btn {
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    color: #888888;;
    font-size:20px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    border-color: #cccccc;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.variation-btn.active {
    background-color: #ff661b;
    border-color: #ff661b;
    color: white;
}


.find-btn {
    font-size: 17px;
    color: gray;
    background-color: #fafafa;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 100px;
    float: right;
}

/* Footer */


#footer {
    display: flex;
    border: solid 2px black;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    justify-content: space-evenly;
    background-color: #698996;
}

.fa-twitter-square {
    background-color: #4099FF;
    color: white;
    font-size: larger;
    padding: 7px;
}

.fa-facebook {
    color: white;
    background-color: #3B5998;
    padding: 7px;
    font-size: larger;
}

.fa-linkedin{
    color: white;
    background-color: #0E76A8;
    padding: 7px;
    font-size: larger;
}

@media screen and (min-width: 1024px) {
    .navbar-links {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar a {
        display: flex;
        font-size: larger;
        text-decoration: none;
        color: #fffbdb;
    }

    i {
        display: none
    }
.title-icon {
    justify-content: flex-start;
 }

 .navbar-links {
     font-size: larger;
 }

 h2 {
     margin-left: 200px;
     font-size: 30px;
     margin-bottom: 4%;
 }

 #chords {
    margin-left: 2%;
}


.find-btn {
    font-size: 20px;
    margin-left: 45%;
    float: none;
}




}