body {
    padding: 20px;
    font-size: larger;
}

.sign-in-wrapper {
    display: block;
    border: 3px solid black;
}

h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    max-width: 50%;
    margin-bottom: 20px;
}

button {
    margin-bottom: 20px;
}

a {
    margin-top: -19px;
    margin-bottom: 20px;
    font-size: 10px;
}